.recepiesContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 1.5em;
}
.recepiesCard{
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 5px 10px var(--shadow-color);
    background-color: var(--background-color);
    .recepiesCardInfo{
        padding: 15px;
    }
    .costumImage{
        z-index: 1;
    }
    .authorImg{
        position: relative;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        border: 3px solid var(--background-ligh);
        box-shadow: 0 1px 3px var(--shadow-color);
        margin-top: -50px;
        z-index: 99;
    }
    .recepiesTitle{
        font-size: 1.25em; 
        font-weight: bold;
        margin-bottom: .5em;
        color: var(--text-color);
        margin-top: .25em; 
    }
    .recepiesDesc{
        color: var(--text-light);
        font-size: .9em;
        letter-spacing: 1px;
    }
    .viewBtn{
        font-size: 1.25em;
        font-weight: bold;
        color: var(--primary-color);
        margin-top: .75em;
        display: inline-block
    }
}