:root{
    --background-color: #fff;
    --background-ligh: #fff;
    --shadow-color: rgba(0,0,0,0.2);
    --primary-color: rgb(255, 0, 86);
    --text-color: #0A0A0A;
    --text-light: #575757;
    --font-size:15px;
    --animation-speed: 1;
}


@function getAnimationDuration($duration: number){
    @return calc($duration * var(--animation-speed))
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
img{
    object-fit: cover;
}
body{
    font-size:var(--font-size);
    font-family: "Roboto", sans-serif;
    padding-top: 55px;
}

.btn{
    border: none;
    overflow: none;
    background-color: var(--primary-color);
    color: white;
    padding: .75em 1em;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 1px ;
    border-radius: 3px;
    box-shadow: 0 2px 6px var(--shadow-color);
    &:hover{
        box-shadow: 0 1px 3px var(--shadow-color);
    }
}
.costumImage{
    background-color: red;
    height: 0;
    width: 100%;
    position: relative;
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
.section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 3vw;
    .title{
        color: var(--text-color);
        font-size: 4em;
        margin-bottom: .25em;
        font-weight: 900;
    }
    .info{
        color: var(--text-light);
        font-size: 1em;
        letter-spacing: 1px;
        line-height: 1.4em;
        margin-bottom: 1.25em;
    }
    .col{
        width: 50%;
    }
}




.main{
    padding-block: 3vw;
}
.container{
    padding-inline: 12vw;
}


.recepiesContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 1.5em;
}
.recepiesCard{
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 5px 10px var(--shadow-color);
    .recepiesCardInfo{
        padding: 15px;
    }
    .costumImage{
        z-index: 1;
    }
    .authorImg{
        position: relative;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        border: 3px solid var(--background-ligh);
        box-shadow: 0 1px 3px var(--shadow-color);
        margin-top: -50px;
        z-index: 99;
    }
    .recepiesTitle{
        font-size: 1.25em; 
        font-weight: bold;
        margin-bottom: .5em;
        color: var(--text-color);
        margin-top: .25em; 
    }
    .recepiesDesc{
        color: var(--text-light);
        font-size: .9em;
        letter-spacing: 1px;
    }
    .viewBtn{
        font-size: 1.25em;
        font-weight: bold;
        color: var(--primary-color);
        margin-top: .75em;
        display: inline-block
    }
}


@import 'partials/heroSection.scss';
@import 'partials/navbar.scss';
@import 'partials/improveSkills.scss';
@import 'partials/quoteSection.scss';
@import 'partials/chefsSection.scss';
@import 'partials/footer.scss';
@import 'partials/PreviusSearches.scss';
@import 'partials/animations.scss';



@media screen and (max-width: 1280px){
    .container{
        padding-inline: 18vw;
    }
}

@media screen and (max-width: 1050px){
    .container{
        padding-inline: 12vw;
    }
}

@media screen and (max-width: 760px){
    .navBar{
        .navLinks{
            display: none;
        }
        .sidebarButton{
            display: block;
        }
    }
    .section{
        .col{
            width: 100%;
            padding: 0 !important;
            text-align: center;
            margin-bottom: 2em;
        }
    }
    .skillItem{
        display: inline-block;
        margin: .75em;
    }
    .section.improveSkills .btn{
        display: block;
        margin-left: 50%;
        transform: translate(-50%);
    }   
    .chefCard{
        box-shadow: 0 5px 10px var(--shadow-color);
    }
    .container{
        padding-inline: 7vw;
    }
    .footer{
        grid-template-columns: repeat(4, 1fr);
        .footerSection:nth-child(1){
            grid-column: span 4;
        }
        .footerSection:nth-child(2), .footerSection:nth-child(3){
            grid-column: span 2;
        }
    }
}

@media screen and (max-width: 480px){
    .container{
        padding-inline: 3vw;
    }
}